/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY_L 0
#define LFT_L    1
#define RGT_L    2
// #define ADJ_L    3

#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// QWERTY
// ---------------------------------------------------------------------------------------------------
// |ESC  |  Q  |  W  |  E  |  R  |  T  |-------------------------|  Y  |  U  |  I  |  O  |  P  |  `  |
// |TAB  |  A  |  S  |  D  |  F  |  G  |-------------------------|  H  |  J  |  K  |  L  |  ;  |  '  |
// |CTRL |  Z  |  X  |  C  |  V  |  B  |SSHFT|-------------| CAPS|  N  |  M  |  ,  |  .  |  /  |  \  |
//                         | GUI |ENTER|BKSPC| Nav ||| Sym |SPACE| GUI | ALT |

                        bindings = <
&kp ESC    &kp Q  &kp W  &kp E  &kp R  &kp T                                                     &kp Y  &kp U  &kp I      &kp O    &kp P      &kp GRAVE
&kp TAB    &kp A  &kp S  &kp D  &kp F  &kp G                                                     &kp H  &kp J  &kp K      &kp L    &kp SEMI   &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C  &kp V  &kp B      &sk LSHFT                          &caps_word  &kp N  &kp M  &kp COMMA  &kp DOT  &kp SLASH  &kp BSLH
                             &kp LGUI  &kp ENTER   &kp BSPC  &mo LFT_L    &mo RGT_L  &kp SPACE   &kp RGUI  &kp LALT
                        >;
                };

                left_layer {
// LEFT
// -----------------------------------------------------------------------------------------------------
// |     | F1  | F2  | F3  | F4  | F5  |---------------------------|  6  |  7  |  8  |  9  |  0  |PG UP|
// |     |     | Cut |Copy |Paste|PG UP|---------------------------|  ^  |  &  |  *  |     | Up  |PG DN|
// |CTRL |     |     |     |     |PG DN| UnDo|---------------|ReDo |  }  |  )  |  ]  |Left |Down |Right|
//                         | ALT | GUI |     |     |---|     |     | GUI | ALT |

                        bindings = <
&none     &kp F1  &kp F2   &kp F3    &kp F4     &kp F5                              &kp N6     &kp N7    &kp N8    &kp N9    &kp N0    &kp PG_UP
&none     &none   &kp Cut  &kp Copy  &kp Paste  &kp PG_UP                           &kp CARET  &kp AMPS  &kp STAR  &none     &kp UP    &kp PG_DN
&kp LCTRL  &none   &none    &none     &none      &kp PG_DN   &kp Undo     &kp Redo   &kp RBRC   &kp RPAR  &kp RBKT  &kp LEFT  &kp DOWN  &kp RIGHT
                            &kp LALT   &kp LGUI    &none       &none        &none      &none      &kp RGUI  &kp LALT
                        >;
                };

                right_layer {
// RIGHT
// ------------------------------------------------------------------------------------------------
// |  |  |  1  |  2  |  3  |  4  |  5  |----------------------| F6  | F7  | F8  | F9  | F0  |  ~  |
// |  +  |  !  |  @  |  #  |  $  |  %  |----------------------|HOME |     |     |     |     | END |
// |  -  |  _  |  =  |  [  |  (  |  {  |     |----------|MENU |Mute |Vol- |Vol+ |Play |     |CTRL |
//                       | ALT | GUI |     |     |--|     |     | GUI | ALT |

                        bindings = <
&kp PIPE   &kp N1   &kp N2   &kp N3    &kp N4      &kp N5                        &kp F6      &kp F7      &kp F8     &kp F9    &kp F10    &kp TILDE
&kp PLUS   &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp PRCNT                     &kp HOME    &none       &none      &none     &none      &kp END
&kp MINUS  &kp UNDER  &kp EQUAL  &kp LBKT  &kp LPAR &kp LBRC  &none       &none  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PP  &none  &kp RCTRL
                                     &kp LALT  &kp LGUI  &none  &none   &none  &none  &kp RGUI  &kp LALT
                        >;
                };
        };
};

//                 adj_layer {
// /* ADJUST
//  * -------------------------------------------------------------------------------------------------------------------------------------
//  * |       | QWERTY| DVORAK| COLEMK|       |       |-----------------------------------|       |  F11  |  F12  |Prt Scr|EP_OFF | EP_ON |
//  * | RESET | BT 0  | BT 1  | BT 2  | BT 3  | BT 4  |-----------------------------------|       |       |       |       |       | RESET |
//  * |       | LGUI  | LALT  | LCTRL | LSHIFT|       |BT CLR |-------------------|       |       |       |OUT_USB|OUT_BLE|       | BOOTL |
//  *                                 |       |       |       |       |---|       |       |       |       |
//  */
//                         bindings = <
// &none         &to  QWERTY_L &to  DVORAK_L &to  COLEMK_L &none         &none                                                                             &none             &kp   F11          &kp   F12  &kp PRINTSCREEN   &ext_power EP_OFF  &ext_power EP_ON
// &sys_reset    &bt  BT_SEL 0 &bt  BT_SEL 1 &bt  BT_SEL 2 &bt  BT_SEL 3 &bt  BT_SEL 4                                                                     &none             &none              &none            &none          &none           &sys_reset
// &none         &kp  LGUI     &kp  LALT     &kp  LCTRL    &kp LSHIFT    &none         &bt BT_CLR                                         &none            &none             &none              &out  OUT_USB    &out  OUT_BLE  &none           &bootloader
//                                                         &trans        &trans        &trans        &trans                 &trans        &trans           &trans            &trans
//                         >;
//                 };
//         };
