/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY_L 0
#define LFT_L    1
#define RGT_L    2
// #define ADJ_L    3

#define Copy   LG(C)
#define Cut    LG(X)
#define Paste  LG(V)
#define Redo   LG(Y)
#define Undo   LG(Z)


/ {
        keymap {
                compatible = "zmk,keymap";

// QWERTY
// ---------------------------------------------------------------------------------------------------
// |  `  |  Q  |  W  |  E  |  R  |  T  |-------------------------|  Y  |  U  |  I  |  O  |  P  |  \  |
// | TAB |  A  |  S  |  D  |  F  |  G  |-------------------------|  H  |  J  |  K  |  L  |  ;  |  '  |
// |SHIFT|  Z  |  X  |  C  |  V  |  B  | ESC |-------------|BKSPC|  N  |  M  |  ,  |  .  |  /  |SHIFT|
//                         |CTRL | GUI |ENTER|LeftL|||RightL|SPACE| GUI | ALT |

                default_layer {
                        bindings = <
&kp GRAVE  &kp Q  &kp W  &kp E  &kp R  &kp T                                               &kp Y  &kp U  &kp I      &kp O    &kp P      &kp BSLH
&kp TAB    &kp A  &kp S  &kp D  &kp F  &kp G                                               &kp H  &kp J  &kp K      &kp L    &kp SEMI   &kp SQT
&kp LSHIFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp ESC                          &kp BSPC   &kp N  &kp M  &kp COMMA  &kp DOT  &kp SLASH  &kp RSHIFT
                        &kp LCTRL  &kp LGUI  &kp ENTER  &mo LFT_L    &mo RGT_L  &kp SPACE  &kp RGUI  &kp RALT
                        >;
                };

// LEFT
// -----------------------------------------------------------------------------------------------------
// |     |  1  |  2  |  3  |  4  |  5  |---------------------------|  6  |  7  |  8  |  9  |  0  |     |
// |     |  !  |  @  |  #  |  $  |  %  |---------------------------|  ^  |  &  |  *  |  -  |  +  |     |
// |SHIFT|     |     |  [  |  (  |  {  |     |---------------|BKSPC|  }  |  )  |  ]  |  _  |  =  |SHIFT|
//                         |CTRL | GUI | ALT |     |---|     |CTRL | GUI | ALT |

                left_layer {
                        bindings = <
&none     &kp N1   &kp N2  &kp N3    &kp N4      &kp N5                       &kp N6     &kp N7    &kp N8    &kp N9     &kp N0  &none
&none     &kp EXCL &kp AT  &kp HASH  &kp DOLLAR  &kp PRCNT                    &kp CARET  &kp AMPS  &kp STAR  &kp MINUS  &kp PLUS  &none
&kp LSHIFT  &none  &none  &kp LBKT  &kp LPAR  &kp LBRC  &none      &kp BSPC  &kp RBRC   &kp RPAR  &kp RBKT  &kp UNDER  &kp EQUAL &kp RSHIFT
                              &kp LCTRL  &kp LGUI  &kp LALT  &none   &none  &kp RCTRL  &kp RGUI  &kp RALT
                        >;
                };

// RIGHT
// ------------------------------------------------------------------------------------------------
// |     | F1  | F2  | F3  | F4  | F5  |----------------------| F6  | F7  | F8  | F9  | F0  |     |
// |     |     |     |     |     |     |----------------------|PG UP|HOME | Up  | END |Vol+ |Mute |
// |     |     |     |     |     |     |     |----------|     |PG DN|Left |Down |Right|Vol- |Play |
//                       |CTRL | GUI | ALT |     |--|     | CTRL | GUI | ALT |

                right_layer {
                        bindings = <
&none  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                    &kp F6    &kp F7    &kp F8    &kp F9   &kp F10        &none
&none  &none   &none   &none   &none   &none                     &kp PGUP  &kp HOME  &kp UP    &kp END  &kp C_VOL_UP   &kp C_MUTE
&none  &none   &none   &none   &none   &none  &none       &none  &kp PGDN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp C_VOL_DN  &kp C_PP
                  &kp LCTRL  &kp LGUI  &kp LALT  &none   &none  &kp RCTL   &kp RGUI  &kp RALT
                        >;
                };
        };
};

//                 adj_layer {
// /* ADJUST
//  * -------------------------------------------------------------------------------------------------------------------------------------
//  * |       | QWERTY| DVORAK| COLEMK|       |       |-----------------------------------|       |  F11  |  F12  |Prt Scr|EP_OFF | EP_ON |
//  * | RESET | BT 0  | BT 1  | BT 2  | BT 3  | BT 4  |-----------------------------------|       |       |       |       |       | RESET |
//  * |       | LGUI  | LALT  | LCTRL | LSHIFT|       |BT CLR |-------------------|       |       |       |OUT_USB|OUT_BLE|       | BOOTL |
//  *                                 |       |       |       |       |---|       |       |       |       |
//  */
//                         bindings = <
// &none         &to  QWERTY_L &to  DVORAK_L &to  COLEMK_L &none         &none                                                                             &none             &kp   F11          &kp   F12  &kp PRINTSCREEN   &ext_power EP_OFF  &ext_power EP_ON
// &sys_reset    &bt  BT_SEL 0 &bt  BT_SEL 1 &bt  BT_SEL 2 &bt  BT_SEL 3 &bt  BT_SEL 4                                                                     &none             &none              &none            &none          &none           &sys_reset
// &none         &kp  LGUI     &kp  LALT     &kp  LCTRL    &kp LSHIFT    &none         &bt BT_CLR                                         &none            &none             &none              &out  OUT_USB    &out  OUT_BLE  &none           &bootloader
//                                                         &trans        &trans        &trans        &trans                 &trans        &trans           &trans            &trans
//                         >;
//                 };
//         };
